@import "../../style/colors";
.SearchArea{
    display: flex;
    justify-content: center;
    flex-direction: column;

    input[type="text"]{
      width: 100%;
      box-sizing: border-box;
      font-size: 18px;
      text-align: center;
      padding: 2px;
      border: none;
      background-color: $color-inputborder;
      margin: 10px 0px;
    }
  }