.top-matter-wrapper {
  width: 100%;
  max-width: unset;
  background-color: white;
  box-sizing: border-box;
  padding: 40px 10px;
}

.top-matter {
  display: flex;
  flex-wrap: wrap;

  .chunk{
    margin-top: 1.2em;
  }

  .view-button-container{
    .Button{
      background-color: $color-teal;
      color: $color-white;
      max-width: 80px;
      text-align: center;
    }
  }

  .left {
    margin-right: 9px;
    margin-left: 9px;
    flex: 2;
  }

  .right {
    max-width: 350px;
    // flex: auto auto 1;
  }
}

.top-matter,
.module-box {
  .title {
    font-family: $font-serif;
    font-weight: 400;
  }

  .stat {
    font-weight: bold;
  }
}

