@import "./fonts";
@import "./colors";

@import "./bignumber";
@import "./typography";
@import "./breadcrumb";
@import "./topmatter";
@import "./publication-histogram";
@import "./resultlist-item";
// @import "./save-button.scss";
@import "./Button";
@import "./homepage";
@import "./pills";

/** Super-app-level stylization **/
body {
  background-color: $color-backgroundgray;
  font-family: $font-sans;
}

.SiteBanner {
  position: relative;
  z-index: 1000;
}

/** App-wide styling **/

.CitationDB {
  font-family: $font-sans;

  .center {
    text-align: center;
  }

  // section
  .column-wrapper {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  a {
    text-decoration: none;
    color: $color-link-off;
  }

  a:hover {
    color: $color-link-on;
  }

  .page-tray {
    display: flex;
    align-items: center;
  }

  .ToggleButton.publications.on .Button {
    background-color: $color-publication-on;
  }

  .ToggleButton.resources.on .Button {
    background-color: $color-resource-on;
  }

  .ToggleButton.authors.on .Button {
    background-color: $color-author-on;
  }
}

@media only screen and (max-width: 800px) {
  .CitationDB {
    // section
    .column-wrapper {
      margin-left: 10px;
      margin-right: 10px;
      width: unset;
    }

    .TopTray {
      max-width: unset;
      width: unset;
    }

    .top-matter {
      display: unset;

      .left {
        margin: 20px;
      }
      .right {
        max-width: unset;
      }
    }

    .bignumber-tray {
      justify-content: center;
    }
  }
}
