.ResultListItem .pill-tray {
  display: flex;
  flex-wrap: wrap;

  .pill {
    background-color: #efefef;
    margin: 0px 3px;
    padding: 0px 4px;
    // border: 1px solid gray;
    border-radius: 2px;
    font-size: 11px;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

.ResultListItem {

    .pill-tray-wrapper .pill{
        border-left: 3px solid white;
    }


    .pill-tray-wrapper.resources .pill{
        border-color: gold;
    }

    .pill-tray-wrapper.publications .pill{
        border-color: teal;
    }

    .pill-tray-wrapper.author .pill{
        border-color: indianred;
    }


  
  display: flex;
  .ItemHeader {
    font-weight: 700;
    display: flex;
    align-items: first baseline;
  }

  .badge {
    font-weight: 300;
    font-size: 10px;
    color: #332;
    // background-color: lightgray;
    margin-right: 6px;
    padding-right: 3px;
  }

  .HeaderLink {
    display: flex;
    justify-content: space-around;
  }

  .button {
    display: flex;
    padding: 0px 10px;
    background-color: teal;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    font-weight: normal;
    text-align: center;
    height: 30px;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

// .dialog-enter {
//     opacity: 0.01;
//     transform: scale(1.1);
//   }

//   .dialog-enter-active {
//     opacity: 1;
//     transform: scale(1);
//     transition: all 10ms;
//   }

//   .dialog-exit {
//     opacity: 1;
//     transform: scale(1);
//   }

//   .dialog-exit-active {
//     opacity: 0.01;
//     transform: scale(1.1);
//     transition: all 10ms;
//   }
